<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://servicebusmessagereaderstaging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/111ed9a0-8629-4d3b-8980-c8d135d1d512/resourceGroups/STG-ABS-CORE/providers/Microsoft.Web/sites/ServiceBusMessageReaderStaging</ResourceId>
    <UserName>$ServiceBusMessageReaderStaging</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://servicebusmessagereaderstaging.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>